<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Loan Calculator</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3 class="my-3">Monthly Loan Payment</h3>
    <div class="d-grid gap-2 my-2">
        <label for="loan-amount">Loan Amount ($)</label>
        <input type="number" id="loan-amount" step="10000" min="0" max="100000000">
    </div>
    <div class="d-grid gap-2 my-2">
        <label for="interest-rate">Interest Rate (%)</label>
        <input type="number" id="interest-rate" min="0" max="100">
    </div>
    <div class="d-grid gap-2 my-2">
        <label for="loan-length">Loan Length (years)</label>
        <input type="number" id="loan-length" min="0" max="1000">
    </div>
    <div class="d-grid gap-2 my-2 mb-3" id="answer-div">
        <label>Monthly Loan Payment</label>
        <p id="answer-value" class="fw-bolder">Not Enough Info</p>
    </div>
    <div class="d-grid gap-2 my-2 mb-3">
        <button type="submit" class="btn btn-info" id="calculate-button">Calculate</button>
    </div>
    <div class="d-grid gap-2 my-2">
        <a href="popup.html" class="btn btn-secondary" type="button">Back To Home</a>
    </div>
</div>

<script src="../static/js/loan.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>