<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Macaulay Duration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h3 class="my-3">Macaulay Duration</h3>
    <div class="d-grid gap-2 my-2">
        <label for="interest-rate">Interest Rate (%)</label>
        <input type="number" id="interest-rate" min="0" max="100">
    </div>
    <div class="d-grid gap-2 my-2">
        <label for="liability-amount-1">Liability Amount ($)</label>
        <input type="number" id="liability-amount-1" min="0" max="100000000">
        <label for="liability-time-1">Liability Time (years from now)</label>
        <input type="number" id="liability-time-1" min="0" max="1000">
    </div>
</div>

<div class="container" id="other-liabilities"></div>

<div class="container">
    <div class="d-grid gap-2 my-2">
        <button type="button" class="btn btn-light" id="add-liability-button">Add New Liability</button>
    </div>
    <div class="d-grid gap-2 my-2 mb-3" id="answer-div">
        <label>Macaulay Duration</label>
        <p id="answer-value" class="fw-bolder">Not Enough Info</p>
    </div>
    <div class="d-grid gap-2 my-2 mb-3">
        <button type="submit" class="btn btn-info" id="calculate-button">Calculate</button>
    </div>
    <div class="d-grid gap-2 my-2">
        <a href="popup.html" class="btn btn-secondary" type="button">Back To Home</a>
    </div>
</div>

<script src="../static/js/macaulay.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
